<%= notice %>
      <h1>Twitter風アプリケーション</h1>
            <p><%= link_to '新規投稿', new_tweet_path %></p>
        </div>
        
        <div class="container-bottom">
            <h1>ツイート一覧</h1>
                <ul class="tweet">
                <% @tweets.each do |tweet| %>
                    <li>
                        <p><%= tweet.content %></p>
                        <time><%= time_ago_in_words tweet.created_at %></time><br>
                        <span><%= link_to "編集する", edit_tweet_path(tweet.id) %></span>
                        <span><%= link_to "削除する", tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %></span>
                    </li>
                <% end %>
                </ul>
        <div>
