<!DOCTYPE html>
<html>
<head>
  <title>TwiiterClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="clearfix">
    <div class="header-left">
      <a><%= link_to 'ホーム', root_path, class: "home_bottom" %></a>
    </div>
    
    <div class="header-right">
      <p>キーワード検索</p>
    </div>
  </header>
  
    <%= yield %>
  
  <footer>
    <p>Twiiter Inc.</p>
  </footer>

</body>
</html>
